    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
    body {
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        position: relative;
    }
    /*=====Header=====*/
    /*==Navigation==*/
    
    .navbar {
        max-height: 80px;
        width: 100vw;
        position: fixed;
        padding: 30px 40px;
        background: #ffffff;
        display: flex;
        z-index: 1;
        border-bottom: 2px solid #cbcbcb;
    }
    /*==Logo==*/
    
    .navbar .navbar-header {
        flex-grow: 1;
    }
    
    .navbar .navbar-header .navbar-brand {
        outline: none;
        position: absolute;
        top: 15px;
        height: 65px;
        padding: 15px 0 15px 10px;
        margin-right: 35px !important;
    }
    
    .navbar-collapse {
        margin-right: 20px;
    }
    
    .navbar-menu a {
        font-size: 14px;
        padding: 14px 33px 12px 28px;
        color: #707070;
    }
    
    .navbar-menu a.active,
    .navbar-menu a:hover {
        background: #2bbff2;
        color: #ffffff;
    }
    
    #menuToggle {
        display: none;
    }
    
    .m-icon {
        display: none;
    }
    /*============CONTENT==============*/
    
    .grid-separate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 90px;
        padding: 20px 8px;
        width: 100%;
        max-width: 80%;
        margin-left: 10%;
    }
    
    .custom-select {
        position: relative;
        justify-self: end;
    }
    
    .custom-select select {
        display: none;
        /*hide original SELECT element:*/
    }
    
    .select-selected {
        background-color: #ffffff;
    }
    /*style the arrow inside the select element:*/
    
    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #000 transparent transparent transparent;
    }
    /*point the arrow upwards when the select box is open (active):*/
    
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #000 transparent;
        top: 7px;
    }
    /*style the items (options), including the selected item:*/
    
    .select-items div,
    .select-selected {
        color: #000000;
        padding: 8px 16px;
        border: 1px solid #000000;
        cursor: pointer;
        user-select: none;
    }
    /*style items (options):*/
    
    .select-items {
        position: absolute;
        background-color: #ffffff;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }
    /*hide the items when the select box is closed:*/
    
    .select-hide {
        display: none;
    }
    
    .select-items div {
        border: 1px solid #000000;
        border-top: unset;
    }
    
    .select-items div:hover,
    .same-as-selected {
        background-color: #2bbff2;
        color: #ffffff!important;
        border: 1px solid #2bbff2!important;
    }
    
    .wrapper {
        display: flex;
        padding-top: 170px;
        max-width: 80%;
        margin-left: 10%;
    }
    
    .normal-list {
        list-style: none;
        padding: 0;
        margin: 10px 0;
    }
    
    .normal-list li label input {
        margin: 5px 10px 5px 0;
    }
    
    .normal-list li label input {
        vertical-align: middle;
    }
    
    input[type="checkbox" i] {
        background-color: #fff;
        cursor: pointer;
        appearance: none;
        box-sizing: border-box;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: 1px solid #7f7f7f;
    }
    
    .normal-list li label input:checked {
        background: #2bbff2;
        -webkit-box-shadow: inset 0px 0px 0px 2px rgb(255 255 255);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 0px 2px rgb(255 255 255);
    }
    
    [type="checkbox"],
    [type="radio"] {
        box-sizing: border-box;
        padding: 0;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    
    .form {
        margin: 0px;
        width: 200px;
        padding: 10px;
        flex-shrink: 0;
    }
    
    .filter-titles {
        font-size: 18px;
        font-weight: normal;
        margin-top: 20px;
    }
    
    .filter-titles.no-margen {
        margin-top: 0;
    }
    
    .card {
        width: 210px;
        margin: 15px;
        text-align: center;
    }
    
    .card__img {
        width: 100%;
    }
    
    .card__name {
        font-size: 16px;
        margin-top: 10px;
    }
    
    .card__price {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .card__description {
        font-size: 14px;
        margin-top: 5px;
    }
    
    .root {
        display: flex;
        flex-wrap: wrap;
    }
    
    div {
        margin: 0;
    }
    
    .btn {
        width: 100%;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        border: none;
    }
    
    .btn.btn-primary {
        background: #2bbff2;
        color: #ffffff;
        width: auto;
    }
    
    .btn.btn-secondary {
        background: #000000;
        color: #ffffff;
    }
    
    .center {
        text-align: center;
        height: 100px;
        margin-top: 50px;
    }
    /*===========FOOTER===========*/
    
    .footer-m3 {
        text-align: center;
        background: #000000;
        color: #ffffff;
        font-size: 12px;
        width: 100%;
        height: 40px;
        padding: 12px;
        position: absolute;
        bottom: 0;
    }